body {
  margin: 0 auto;
}
.header {
  display: flex;
  background-color: #000000;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
}
.nav-left img {
  height: 40px;
  padding-top: 10px;
}
.nav-right ul {
  display: flex;
  list-style: none;
}
.nav-right a {
  text-decoration: none;
  padding-right: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #fff;
}
.platform {
  color: #6590dc !important;
}
.nav-right a:hover {
  color: #333;
}
.hero {
  background-image: url(../images/5ccc6368386db5156d0e372b_CP_nurse_tablet.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 70vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
.minihero {
  margin-left: -600px;
  color: #fff;
  padding-bottom: 30px;
}
.minihero h2 {
  font-size: 28px;
  margin-bottom: 0;
}
.minihero p {
  font-size: 16px;
}
.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  font-family: "Montserrat", sans-serif;
}
.operations {
  display: flex;
  padding-right: 30px;
}
.operation1 h2 {
  font-size: 28px;
}
.operation1 p {
  font-size: 16px;
}
.operation2 img {
  height: 70vh;
  padding-top: 80px;
}
.sectin2 {
  display: flex;
  font-family: "Montserrat", sans-serif;
}
.features {
  display: flex;
  padding: 50px 50px 20px 250px;
}
.feature1 {
  display: flex;
  padding-right: 70px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: -100px;
}
.feature1 img {
  height: 50px;
  padding-top: 25px;
  padding-right: 20px;
}
.content h2 {
  margin-bottom: 30px;
  font-weight: 600;
}
.content p {
  font-size: 16px;
}
.feature2 {
  display: flex;
  padding-right: 70px;
  font-family: "Montserrat", sans-serif;
}
.feature2 img {
  height: 50px;
  padding-top: 25px;
  padding-right: 20px;
}
.section3 {
  display: flex;
  padding: 50px 50px 20px 250px;
  font-family: "Montserrat", sans-serif;
}
.specs {
  display: flex;
}
.left-side {
  padding-right: 50px;
}
.left-side h2 {
  font-size: 30px;
}
.left-side p {
  font-size: 16px;
}
.icon {
  display: flex;
  margin-bottom: -10px;
}
.icon img {
  height: 50px;
  padding-right: 20px;
  margin-top: 25px;
}
.text h2 {
  margin-bottom: -10px;
  font-size: 20px;
}
.text p {
  font-size: 15px;
}
.section4 {
  padding: 0 50px 0 250px;
}
.row1 {
  display: flex;
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
}
.one img {
  height: 280px;
  width: 450px;
  padding-right: 20px;
  border-radius: 5px;
}
.one h2 {
  margin-top: -250px;
  color: #fff;
  padding-left: 20px;
}
.one p {
  color: #fff;
  padding-left: 20px;
  font-size: 14px;
  margin-bottom: 60px;
}
.one a {
  color: #fff;
  margin-left: 50px;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 10px 45px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
}
.row2 img {
  height: 300px;
  width: 920px;
}
.two {
  margin-top: 60px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 50px;
}
.two h2 {
  margin-top: -250px;
  color: #fff;
  padding-left: 20px;
}
.two p {
  color: #fff;
  padding-left: 20px;
  font-size: 14px;
  margin-bottom: 60px;
}
.two a {
  color: #fff;
  margin-left: 50px;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 10px 45px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
}
.footer {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  align-items: center;
  background-color: #101820;
  color: #fff;
  margin-top: 70px;
  padding-left: 250px;
}
.footer h2 {
  font-size: 16px;
}
.final {
  display: flex;
  list-style: none;
}
.sitemap ul {
  list-style: none;
  padding-left: 0;
}
.sitemap a {
  color: #fff;
}
.sitemap img {
  height: 30px;
  padding-top: 10px;
}
.address ul {
  list-style: none;
  padding-left: 0;
}
.sitemap {
  padding-right: 40px;
}
.address {
  padding-right: 40px;
}
.address a {
  color: #fff;
}
.news {
  padding-right: 40px;
}
.sitemap h2 {
  padding-top: 40px;
}
.address h2 {
  padding-top: 40px;
}
.news h2 {
  padding-top: 40px;
}
.careers h2 {
  padding-top: 40px;
}
.footerlogo img {
  height: 30px;
  padding-top: 70px;
  padding-bottom: 0;
}
.footerlogo p {
  font-size: 12px;
  color: #fff;
}
.footerlogo {
  background-color: #101820;
  padding-left: 250px;
  font-family: "Montserrat", sans-serif;
}
