body {
  margin: 0 auto;
}
.header {
  display: flex;
  background-color: #000000;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
}
.nav-left img {
  height: 40px;
  padding-top: 10px;
}
.nav-right ul {
  display: flex;
  list-style: none;
}
.nav-right a {
  text-decoration: none;
  padding-right: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #fff;
}
.careers {
  color: #6590dc !important;
}
.nav-right a:hover {
  color: #333;
}
.hero {
  background-image: url(../images/5d078e7efce0afc4287662a9_getty_938993594_391384.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 80vh;
  display: flex;
  align-items: flex-end;
}
.herocontent {
  color: #fff;
  padding-left: 250px;
  padding-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
.herocontent h2 {
  font-size: 28px;
}
.section2 {
  background-image: linear-gradient(180deg, #f2f1f0, #f2f1f0);
  padding-top: 20px;
  padding-left: 250px;
  display: flex;
  justify-content: space-between;
  padding-right: 250px;
}
.section3 {
  font-size: 14px;
  padding: 10px;
  padding-left: 280px;
  font-family: "Montserrat", sans-serif;
}
.section4 {
  padding: 0 250px 0 250px;
  font-family: "Montserrat", sans-serif;
}
.content1 {
  background-image: linear-gradient(180deg, #f2f1f0, #f2f1f0);
  margin-bottom: 20px;
  padding-left: 150px;
  padding-top: 3px;
  padding-bottom: 1px;
}
.content1 h2 {
  font-size: 22px;
}
.content1 h5 {
  font-size: 22px;
  color: #6590dc !important;
  margin-top: 0;
}
.section5 {
  padding-left: 250px;
}
.row1 {
  display: flex;
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
}
.one img {
  height: 280px;
  width: 500px;
  padding-right: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.one h2 {
  margin-top: -250px;
  color: #fff;
  padding-left: 20px;
}
.one p {
  color: #fff;
  padding-left: 20px;
  font-size: 14px;
  margin-bottom: 60px;
}
.one a {
  color: #fff;
  margin-left: 50px;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 10px 45px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
}
